<% include partials/header %>

<h1>Create New User Page</h1>

<form action="/createAccount" method="POST">
    <input type="text" name="name" placeholder="userName">
    <input type="password" name="attack" placeholder="password">
    <button>Confirm New Account!!</button>
</form>

<% include partials/footer %>
