/* Write Grid CSS Styles Here */
.albums{
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  grid-gap: 50px;
}
/*
.album {

}

*/
.album{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
